.pub{
    width: max-content !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    object-fit: cover !important;

}

.trim {
    max-height:400px !important;
    max-width: 400px !important;
    overflow: hidden !important;
}

.tablepub{
    max-width: max-content !important;
    min-width: 150px !important;
    background-color: white !important;
    border: 3px white !important;
    margin: 2em auto !important;
}

