
<ion-app>
    <ion-content>
        <ion-item>
            <ion-avatar slot="end">
              <img src="assets/images/5.png" />
            </ion-avatar>
            <ion-label>Misstagram</ion-label>
          </ion-item>
          <ion-card>
            <ion-card-header>Nueva Publicacion</ion-card-header>
            <ion-card-content>
              <form #form="ngForm" (ngSubmit)="onSubmit(form)" ngNativeValidate>
                <ion-grid>
                  <ion-row>
                    <ion-col>Descripción de tu publicación</ion-col>
                  </ion-row>
                  <ion-row>
                  <ion-input placeholder="Ej: Soy muy feo, verdad? :((((( Denmen atencionmn" [(ngModel)]="newdesc" name="desc" required></ion-input>
                  </ion-row>
                  <ion-row>
                    <ion-col>Sube aquí tu foto:
                    <ion-button (click)="Tomar_Foto()">Subir Foto</ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row *ngFor="let i of fotos.foto; index as position">
                    <ion-img [src]="i.webviewPath" class="temp_pic"></ion-img>
                  </ion-row>
                  <ion-row>
                    <ion-label>En Misstagram nos estremecemos por tí</ion-label>
                  </ion-row>
                </ion-grid>
                <ion-button type="submit">Subir Publicación</ion-button>
              </form>      
            </ion-card-content>
          </ion-card>
        
    </ion-content>
</ion-app>

