
<ion-tabs>
    <ion-tab-bar slot="bottom">
        
    <ion-tab-button tab="imagenes">
        <ion-icon name="images"></ion-icon>
        <ion-label>Feed</ion-label>
      </ion-tab-button>

      <ion-tab-button routerLink="/nuevo">
        <ion-icon name="add-circle-outline"></ion-icon>
        <ion-label>Nueva publicación</ion-label>
      </ion-tab-button>
    
      <ion-tab-button tab="perfil">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

  
    </ion-tab-bar>
  </ion-tabs>


