<ion-content>
    <ion-item>
        <ion-avatar slot="end">
        </ion-avatar>
        <ion-label>Misstagram</ion-label>
      </ion-item>
    <ion-card>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size="10"> 
                        <ion-item>
                        <ion-avatar slot="start" style="width:30% !important;height : 30% !important;max-width: 40px !important;max-height: 40px !important;">
                            <img src="assets/images/5.png" />
                          </ion-avatar>
                          <ion-label>ID: {{pubdetail.id}}</ion-label>
                        </ion-item>
                    </ion-col>
                    <ion-col>
                        <ion-button fill="translucent" id="trigger"><ion-icon name="ellipsis-horizontal-outline"></ion-icon></ion-button>
                        <ion-popover trigger="trigger"><ng-template><app-popovermenu [id_pub_edit]="aux1"></app-popovermenu></ng-template></ion-popover>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-img src={{pubdetail.imagen}}></ion-img>
            <ion-card-title>{{pubdetail.desc}}</ion-card-title>
            <ion-grid>
                <ion-row align="center">
                    <ion-col align="center">
                        <ion-icon name="heart-dislike"></ion-icon>
                        <p>Dislike</p>
                    </ion-col>
                    <ion-col>
                        <ion-icon name="chatbubbles"></ion-icon>
                        <p>Comment</p>                                        
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>