
<ion-grid  class="container">
    <div >
    <ion-row>
        <ion-col size="2.4" *ngFor="let i of historias" class="historias">
            <ion-avatar>
                <ion-img src={{i.imagen}} id="storytrig_{{i.id}}" id="usrpic"></ion-img>
                <ion-modal trigger="storytrig_{{i.id}}">
                    <ng-template>
                        <app-historias></app-historias>
                    </ng-template>
                </ion-modal>
            </ion-avatar>
        </ion-col>
    </ion-row>
</div>
</ion-grid>









