<ion-list>
    <ion-item>
        <ion-label color="primary">Guardar en el teléfono</ion-label>
    </ion-item>
    <ion-item *ngIf="id_pub_edit!='-1'" (click)="editar()">
        <ion-label color="primary">Modificar Publicacion</ion-label>
    </ion-item>
    <ion-item *ngIf="id_pub_edit!='-1'" (click)="eliminar(id_pub_edit)">
        <ion-label color="danger">Eliminar Publicacion</ion-label>
    </ion-item>
    <ion-item *ngIf="editando">
        <ion-label>Tu nueva descripción:</ion-label>
    </ion-item>
    <ion-item *ngIf="editando">
        <ion-input placeholder="Nueva Descripción" [(ngModel)]="newdesc"></ion-input>
    </ion-item>
    <ion-item *ngIf="editando">
    <ion-button (click)="guardar()">Guardar Cambios</ion-button>
    </ion-item>
</ion-list>
