<ion-list>
    <ion-item *ngIf="not_modify=='true'">
        <ion-label color="warning" (click)="reportar()">Reportar publicación</ion-label>
    </ion-item>
    <ion-item *ngIf="not_modify!='true'" (click)="editar()">
        <ion-label color="primary">Modificar Publicacion</ion-label>
    </ion-item>
    <ion-item *ngIf="not_modify!='true'" (click)="eliminar(id_modify)">
        <ion-label color="danger">Eliminar Publicacion</ion-label>
    </ion-item>
    <ion-item *ngIf="editando">
        <ion-label>Tu nueva descripción:</ion-label>
    </ion-item>
    <ion-item *ngIf="editando">
        <ion-input placeholder="Nueva Descripción" [(ngModel)]="newdesc"></ion-input>
    </ion-item>
    <ion-item *ngIf="editando">
    <ion-button (click)="guardar()">Guardar Cambios</ion-button>
    </ion-item>
</ion-list>
