ion-card{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    width: 50% !important;
    margin: 20 !important;
    height: max-content !important;
    max-height: fit-content !important;
    transform: translateX(50%);
  }

  img {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
