
<ion-app>
    <ion-content>
        <ion-header>Misstagram</ion-header> 
        <ion-grid style="height: 100%">
            <ion-row>
                <ion-col>
                    <ion-card *ngFor="let i of presidentes">
                        <ion-card-content>
                            <ion-card-subtitle [routerLink]="['/detallepub',i.id]" routerLinkActive="active">Published by : @mexicanpresidents</ion-card-subtitle>
                            <img src={{i.foto}} [routerLink]="['/detallepub',i.id]" routerLinkActive="active"/>
                            <ion-card-title [routerLink]="['/detallepub',i.id]" routerLinkActive="active">{{i.nombre}}</ion-card-title>
                            <ion-grid>
                                <ion-row align="center" style="height: 100%">
                                    <ion-col align="center">
                                        <ion-icon name="heart-dislike"></ion-icon>
                                        <p>Dislike</p>
                                    </ion-col>
                                    <ion-col>
                                        <ion-icon name="chatbubbles"></ion-icon>
                                        <p>Comment</p>                                        
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
</ion-content>
</ion-app>
